---
layout: default
---

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl font-bold leading-normal text-slate-900 mt-0 mb-3">{{ title }}</h1>
        <div class="">Published on {{ page.date | readableDate }}</div>
		{% if repo_url %}
    		<a class="font-medium underline" href="{{ repo_url }}">{{ repo_url }}</a>
		{% endif %}
        {% if tags %}
        <div class="mt-3">
            {% for tag in tags %}
            <a href="{{ '/tags/' | url }}{{ tag }}" class="inline-block bg-slate-200 rounded-full px-3 py-1 text-sm font-medium text-slate-700 m-0.5">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>
    <div id="content" class="prose text-slate-800 max-w-none">
        {{ content | safe }}
    </div>
    {% if site.disqusShortname %}
    <div class="mt-10">
        {% if process.environment === "production" %}
        {% include "partials/disqus.njk" %}
        {% else %}
        <div class="italic text-slate-700">Disqus comments only available for production</div>
        {% endif %}
    </div>
    {% endif %}
</article>
