---
layout: default
title: About Me
---

<div class="flex flex-col items-center text-lg mt-5">
    {% if author.avatar %}
    <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">
        <img class="w-32 h-32 md:w-40 md:h-40 rounded-full" src="{{ author.avatar | url }}" width="128" height="128" alt="Author avatar">
    </a>
    {% endif %}
    <div class="text-center mt-8">
        <h1 class="text-2xl font-medium text-slate-800 leading-relaxed mt-0 mb-1">
				{{ author.name }}
        </h1>
        {% if author.homepage %}
        <div class="text-slate-600">
            Visit my website at <a class="font-medium underline" href="{{ author.homepage }}">{{ author.homepage }}</a>
        </div>
        {% endif %}
        {% if author.email %}
        <div class="text-slate-600">
            Email me at <a class="font-medium underline" href="mailto:{{ author.email }}">{{ author.email }}</a>
        </div>
        {% endif %}
        {% if author.phone %}
        <div class="text-slate-600">
            <a href="tel:{{ author.phone }}">{{ author.phone }}</a>
        </div>
        {% endif %}
        {% if author.bio %}
        <p class="mt-3 text-slate-700">{{ author.bio }}</p>
        {% endif %}
    </div>
</div>
