---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---

<!-- <div class="flex flex-wrap -mx-2">
    {% include "partials/post-grid.njk" %}
</div> -->

<div class="flex flex-wrap -mx-2">
    {% include "partials/post-timeline.njk" %}
</div>

{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}
