<footer class="mt-20 px-10 py-8 bg-slate-200">
    <div class="max-w-5xl mx-auto text-slate-700 text-center">
        © 2020 <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a>. 
        Made by <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a> 
        using <a href="https://www.11ty.dev" target="_blank" rel="noopener">Eleventy</a> and <a href="https://tailwindcss.com" target="_blank" rel="noopener">Tailwind CSS</a>.
    </div>
</footer>
