<header id="header" class="bg-gray-900 w-full px-3 py-3 z-50 fixed top-0 transition-all transform ease-in-out duration-500">
    <div class="max-w-5xl mx-auto flex items-center flex-wrap justify-between">
        <div class="sm:mr-8">
            <a class="flex items-center" href="{{ '/' | url }}">
                <span class="text-3xl text-white hover:text-indigo-300 font-semibold self-center">{{ site.title }}</span>
            </a>
        </div>
        <div class="flex-grow"></div>
        <nav id="menu" class="order-last md:order-none items-center w-full md:w-auto md:flex hidden mt-2 md:mt-0">
            {% for item in menu %}
            <a href="{{ item.url | url }}" {% if item.newTab %}target="_blank" rel="noopener" {% endif %}class="block mt-4 md:inline-block md:mt-0 font-medium text-white hover:text-indigo-300 text-base mr-4">{{ item.label }}</a>
            {% endfor %}
        </nav>
        <div id="menu-toggle" class="flex items-center md:hidden text-slate-700 hover:text-indigo-300 cursor-pointer sm:ml-6">
            {% include "icons/menu.svg" %}
        </div>
    </div>
</header>
