<div class="mt-3 flow-root">
    <a href="{% if not paged.first %}{{ pagination.href.previous | url }}{% else %}javascript:void(0){% endif %}" class="float-left bg-white font-semibold py-2 px-4 border rounded shadow-md text-slate-800 {% if not paged.first %}cursor-pointer hover:bg-slate-100{% else %}cursor-default text-opacity-50{% endif %}">Previous</a>
    <a href="{% if not paged.last %}{{ pagination.href.next | url }}{% else %}javascript:void(0){% endif %}" class="float-right bg-white font-semibold py-2 px-4 border rounded shadow-md text-slate-800 {% if not paged.last %}cursor-pointer hover:bg-slate-100{% else %}cursor-default text-opacity-50{% endif %}">Next</a>
</div>
