<div class="flex flex-row flex-wrap max-w-5xl">
    {% for post in paged.posts %}
    <!-- Item #1 -->
    <div class="relative text-white text-center hover:opacity-70 w-80 h-60 border-solid border-white border-2">
        <a href="{{ post.url | url }}" class="">
            <img class="m-0 w-80 h-60 object-cover lazy" src="{{ lazyImage }}"
                data-src="{% if post.data.thumb %}{{ post.data.thumb | url }}{% else %}{{ '/assets/img/no-image.svg' | url }}{% endif %}"
                alt="This post thumbnail">

            <span class="absolute left-1 bottom-1 mb-1">
            {% if post.data.icons %}
                <div class="flex">
                {% for icon in post.data.icons %}
                    <span class="size-9 rounded-full bg-white/[.8] grid place-items-center mr-1"> 
                        <img src="{{ icon | iconUrl}}" height="30" width="30" /> 
                    </span>
                {% endfor %}
                </div>
            {% endif %}
            </span>
            <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-indigo-600/[.55] font-extrabold rounded mt-1 pl-2 pr-2">
                {{ post.data.title }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
